body{
    background-repeat:no-repeat;
    background-image:url("https://www.treehugger.com/thmb/nSp8ESJ1N6zq_bsTVL_MoSrKAqA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1273584292-cbcd5f85f4c646d58f7a7fa158dcaaeb.jpg");
}
img{
    height:250px;
}
.a{
    color:brown;
}
.b{
    color:silver;
}
.c{
    color:white;
}
.d{
    color:violet;
}