body{
	background-image:url("https://t4.ftcdn.net/jpg/01/01/78/03/360_F_101780352_I3bDsI4PGZ8hSOYxnknHS1vNp5cWokfw.jpg")
}
h1{
	color:deepskyblue;
	font-size:250%;
}
.a{
	color:yellow;
}
p{
	color:pink;
}
img{
	height:300px;
}