* {
	margin: 0;
	padding: 0
}

body {
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #444;
	background: #B17E4F
}

a {
	text-decoration: none;
	color: #96AE3E
}

ul {
	list-style: none
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 40px;	
}

.header a.logo {
	float: left;
	padding: 60px 0 10px 30px;
	font-size: 44px;
	font-weight: 700;
	line-height: 1.2em;
	color: #FFF
}

.header p {
	float: right;
	padding: 80px 30px 0 0;
	font-size: 16px;
	line-height: 10px;
	color: #CEB6A4
}


.main {
	width: 100%;
	background: #fff;
	overflow: hidden
}

.content {
	width: 928px;
	margin: 0 auto;
	padding: 15px
}

nav ul {
	display: flex;
	text-align: center;
	margin-bottom: 15px
}

nav ul li {
	flex: 1
}

nav ul li a {
	display: block;
	width: 100%;
	background: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 20px 0
}

nav ul li a:hover {
	background: #1B3039
}

nav ul li .active {
	background: #1B3039
}

img {
	width: 100%;
	height: 100%
}

.left__side {
	float: left;
	width: 570px;
	padding: 0 0 10px 15px
}

.left__side h3 {
	font-size: 3em;
	text-transform: lowercase
}

.left__side h3 a {
	color: #9F6841
}

.left__side .postmeta {
	padding-bottom: 30px
}

.left__side p {
	padding-bottom: 30px;
	line-height: 2
}

.right__side {
	float: right;
	width: 330px;
	padding-bottom: 20px;
	padding-top: 20px
}

.box {
	margin-bottom: 20px;
	padding: 7px;
	background: #EFEDE5;
	border: 1px solid #E8E6DE
}

.box h4 {
	padding-left: 15px;
	font-size: 1.5em;
	line-height: 2em;
	color: #FFF;
	background: #5D9EBD;
	border: 1px solid #5692AE
}

.box ul {
	padding: 1em 0
}

.box ul li {
	padding-left: 15px;
	line-height: 2.5em;
	border-bottom: 1px solid #E8E6DE
}

.box2 p {
	padding: 20px 15px;
	line-height: 2
}

footer {
	text-align: center;
	padding: 30px 15px;
	background: #fff
}

footer p {
	background: #D1E4A7;
	padding: 30px 15px
}